# -----------------------
# Backend (API 서버)
# -----------------------
fastapi
uvicorn[standard]
gunicorn

# -----------------------
# Database
# -----------------------
pymysql
sqlalchemy
python-dotenv
mysql-connector-python
cryptography  # MySQL 8.0 인증 방식 지원

# -----------------------
# Crawling / HTTP
# -----------------------
requests
beautifulsoup4
lxml

# -----------------------
# Time / Scheduling
# -----------------------
python-dateutil
